.matchup-card{
    margin: 7px;
    border-radius: .15em;
}

.headerStockIconMu {
    width: 35px;
}

.card-name-header{
    background-color: rgb(25, 73, 105);
    border-radius: .15em;
    font-size: 1.6em;
    padding: 10px;
    box-shadow: inset 0 0 .4em 0 #000000,
     0 0 .5em 0 #000000;
     text-shadow: 
        0 0 .125em rgba(0, 0, 0, 0.3),
        0 0 .45em currentColor;
    margin-top: .5em;
}

.beat-lose-label{
    text-shadow: 
        0 0 .125em rgba(0, 0, 0, 0.3),
        0 0 .5em currentColor;
}

.matchup-card-win{
    background-color: rgb(7, 73, 53);
    padding: 5px;
    box-shadow: inset 0 0 .4em 0 #000000,
     0 0 .5em 0 #000000;
    text-shadow: 
       0 0 .125em rgba(0, 0, 0, 0.3),
       0 0 .45em currentColor;
}

.matchup-card-lose{
    background-color: rgb(172, 32, 32);
    padding: 5px;
    box-shadow: inset 0 0 .4em 0 #000000,
     0 0 .5em 0 #000000;
     text-shadow: 
        0 0 .125em rgba(0, 0, 0, 0.3),
        0 0 .45em currentColor;
}
.mu-container{
    min-width: 30em;
    max-width:40em;
    display: flex;
    margin-left: 15px;
    margin-top: -1.5em;
}

.win-container{
    display: flex;
    flex-direction: column;
    align-items: start;
   
    
}

.lose-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: left;
    width: 85%;    
}

