.cardContent__S {
    background-color: #011c1b;
}
.cardContent__A {
    background-color: #002531;
}
.cardContent__B {
    background-color: #002e4f;
}
.cardContent__C {
    background-color: #153f70;
}
.cardContent__D {
    background-color: #003186;
}
.cardContent__F {
    background-color: #242a8b; 
} 

.card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: auto;
    min-width: 200px;
    padding: 10px 10px 10px 10px;
    font-size: 20px; 
    color: #AAE7FF 
}

.stockIcon {
    height: 45px;
    width: 45px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
  
}