

.form-control-notes{
    margin: 0;
    
}

.noteCard {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 5px;
    height: auto;
    min-width: 200px;
    min-height: 10em;
    padding: 10px 10px 10px 10px;
    font-size: 20px; 
    color: #AAE7FF ;
    background-color: #003186;
    border-radius: .25em; 
    box-shadow: inset 0 0 .5em 0 #000000,
     0 0 .5em 0 #000000;
}



.stockIcon {
    height: 45px;
    width: 45px;
}

.character-name {
    font-size: 1.3em;
    padding-left: 2em;;
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
    margin-left: 2em;
}

.bar-marker{
    background-color: rgb(76, 112, 85);
    border: none;
    display: flex;
    width: 89%;
    height: 4px;
    margin-top: 20px;
}

.note-body{
    border: currentColor .125px solid;
    padding: .5em;
    border-radius: .25em;
    width: 250px;
}

.addbtn {
    background-color: #0f0f15;
    width: 5.5em;
    margin-left: 1.5em;
}

.notes-form{
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.back-clicker {
    color: #AAE7FF;
    cursor: pointer;
    font-size: 14;
    text-shadow: 
        0 0 .125em hsl(0 0% 100% / 0.3),
        0 0 .45em currentColor ;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    
}

.back-clicker:hover{
    color:#50cbfc;
} 

.select-buttons{
    display: inline-block;
    background-color: #011c1b;
    margin-right: 2em;
    margin-bottom: .5em;
    font-size: .7em;
    padding: 0.25em 1em;
    color: yellow; 
    text-shadow: 
        0 0 .125em hsl(0 0% 100% / 0.3),
        0 0 .45em currentColor ;
    border-radius: .25em;
    border: currentColor .125px solid;
    
    cursor: pointer;

    box-shadow: inset 0 0 .5em 0 currentColor, 0 0 .5em 0 currentColor;
    position: sticky;
}
.select-buttons2{
    display: inline-block;
    background-color: #011c1b;
    margin-right: 2em;
    margin-bottom: .5em;
    font-size: .7em;
    padding: 0.12em .7em;
    color: yellow; 
    text-shadow: 
        0 0 .125em hsl(0 0% 100% / 0.3),
        0 0 .45em currentColor ;
    border-radius: .25em;
    border: currentColor .125px solid;
    
    cursor: pointer;

    box-shadow: inset 0 0 .5em 0 currentColor, 0 0 .5em 0 currentColor;
    position: sticky;
}

.select-buttons:hover{
    background-color: yellow;
    color: #011c1b;
    text-shadow: 0;
    box-shadow: 0;
}
.select-buttons2:hover{
    background-color: yellow;
    color: #011c1b;
    text-shadow: 0;
    box-shadow: 0;
}

.noteForm {
    background-color: #024745;
    border-radius: .25em; 
    box-shadow: inset 0 0 .5em 0 #000000,
     0 0 .5em 0 #000000;
    max-width: 16em;
    padding-bottom: 1em;
}

.noteForm__title {
    margin-left: .9em;
    padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
}

.noteForm__titleImg {
    display: flex;
    flex-direction: row;
    
}

.btnz {
    margin-left: 1.25em;
}