.App {
  text-align: left;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}


/* Spinny Boy */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
} */

.App-header {
  background-color: #0f0f15;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #AAE7FF;
  padding: 5px;
}

footer {
  position: sticky;
  background-color: #101132;
}

.App-link {
  color: #AAE7FF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
