.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    list-style-type: none;
    align-items: left;
} 

.nav-item {
    flex-basis: 20%;
    margin-right: 2em;
    
}

.nav-link{
    color: #AAE7FF;
    font-size: .7em;
    text-decoration: none;
    justify-content: space-around;
}

.nav-link:hover{
    color: #50cbfc;
}